@model Weather
@{
    ViewData["Title"] = "Weather";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Weather</h1>

<div class="card">
    <div class="card-header">
        @ViewBag.Action
    </div>

    <div class="card-body">
        <form asp-action="SaveChanges" asp-controller="Home" method="post">
            <input asp-for="Id" type="hidden" />
            
            <div class="mb-2">
                <label class="form-label" >Ciudad</label>
                <input type="text" class="form-control form-control-sm" asp-for="City" required="required"/>

                <label class="form-label">Temperatura</label>
                <input type="number" class="form-control form-control-sm" asp-for="Temperature" required="required"/>
            </div>
            
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Regresar</a>
        </form>
    </div>
</div>